<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS v5.3.8 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt rerum modi, harum nemo voluptatum magni et
        iste aperiam consectetur dolore cumque fugiat at alias veniam quaerat quod voluptas eos impedit?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus magni harum, tenetur, culpa unde
        consequuntur, exercitationem laborum dolorum illum eius deserunt animi voluptatibus! Deserunt, maxime! Quasi
        neque mollitia quo necessitatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et cum blanditiis id debitis voluptate
        dolorum ratione corporis voluptas temporibus, mollitia itaque magni optio aperiam fugit deserunt animi. Itaque,
        nesciunt!</p>

        
</body>

</html>